name: TacoBot
server: irc.esper.net
port: 6667
password: 
nickserv: 
channel: '#tacos'
ssl: false
invite: true
blacklist:
  - xX420ProMLGXx
  - joehot200
trollmessages:
  - Here's a taco...:::NOT!
  - I wonder if EncryptedCurse:::even has a GF!
  - What if EncryptedCurse:::was....GONE FOREVER!
  - Who do you like to sleep with...:::That guy over there, named nobody?
  - What if joehot200 and EncryptedCurse:::got married and had sex together?
  - What if EncryptedCurse:::was black!
  - What if vemacs understood the fact that,:::EncryptedCurse lived in Boulder, CO
  - I'm sorry to say this but..:::You have HIV, and are about to get AIDS and die very soon.
  - 420:::BLAZE IT FAGGOT
  